.swiper {
  height: 28rem !important;
}

.swiper-slide {
  height: 100% !important;
}

.swiper-button-next {
  font-size: 0.5rem !important;
  color: #fff !important;
  width: 3rem !important;
  height: 3rem !important;
  font-size: 0.5rem !important;
  border-radius: 50px;
  background-image: none !important;
  background-size: 0.5rem !important;
  padding: 0.5rem;
}
.swiper-button-prev {
  color: #fff !important;
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50px;
}

span.swiper-pagination-bullet {
  background-color: gray;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
}

@media screen and (max-width: 568px) {
  .swiper {
    height: 10rem !important;
  }
}

@media screen and (max-width: 1200px) {
  .swiper {
    height: 20rem !important;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    height: 15rem !important;
  }

  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
}

@media screen and (max-width : 500px) {
  .swiper {
    height: 12rem !important;
  }
}
