*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "BYekan";
  src: url("../fotns/BYEKAN/BYekan.woff");
  src: url("../fotns/BYEKAN/Yekan.woff2");
  src: url("../fotns/BYEKAN/BYekan.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "IranSans";
  src: url("../fotns/iranSans/AIranianSans.woff");
  src: url("../fotns/iranSans/AIranianSans.woff2");
  src: url("../fotns/iranSans/AIranianSans.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,500&display=swap");

body,
html {
  font-family: "BYekan", sans-serif !important;
  direction: rtl !important;
  scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(201, 201, 201);
}

body::-webkit-scrollbar-thumb {
  background-color: gray;
  outline: 0;
  border-radius: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
